@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-family: "Rubik", sans-serif;
}

:root {
  --white: #ffffff;
  --black: #303841;
  --gray: #777777;
  --yellow: #f6c90e;
}
